html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ddd;
}

.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.content {
    margin: 2rem;
    padding: 2rem;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.spacer {
    margin-left: 2rem;
}

.row {
    padding: 5px;
    width: 50%;
}

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#login {
    margin: 2rem;
    padding: 2rem;
    width: 25rem;
    background-color: #fff;
    border-radius: 8px;
}