<html>
<head>
    <title>Price Scraper</title>
    <link href="static/css/ext/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <script src="static/js/ext/bootstrap.bundle.min.js"></script>
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark">
    <span class="spacer"></span>
    <a class="navbar-brand text-warning" href="/">Price Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrapers">Scrapers</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto justify-content-end" style="padding-right: 2rem;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="static/img/account.png" style="height:32px;">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="toast-container position-absolute" style="z-index: 100000;padding: 10px;"></div>
<div class='page-container'>
    <div class="content">
        <div class='search-bar'>
            <h1>Link</h1>
            <!--        <h6 style="padding-bottom: 30px;">(Any Amazon site could work)</h6>-->
            <div class='row'>
                <div class="col-sm-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="link" placeholder="Link">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button id='add' type="button" class="btn btn-warning" style="width:100%" onclick="">Track</button>
                </div>
            </div>
        </div>

        <div class='table-div'>
            <p id="update_time" style='text-align: center;'>Updated at: </p>
            <div class='table-responsive'>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Lowest Price</th>
                        <th scope="col">Link</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="static/js/app.js" type="module"></script>
<script src="static/js/ext/sweetalert2-11.10.7.min.js"></script>
</body>
</html>