<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Price Scraper</title>
    <link href="static/css/ext/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <script src="static/js/ext/bootstrap.bundle.min.js"></script>
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark">
    <span class="spacer"></span>
    <a class="navbar-brand text-warning" href="/">Price Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrapers">Scrapers</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto justify-content-end" style="padding-right: 2rem;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="static/img/account.png" style="height:32px;">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="toast-container position-absolute" style="z-index: 100000;padding: 10px;"></div>

<div class="page-container">
    <div class="content">
        <div class="profile-content justify-content-center">
            <div class="row g-3 align-items-center">
                <div class="col">
                    <label for="currentPassword" class="col-form-label">Current Password</label>
                </div>
                <div class="col">
                    <input type="password" id="currentPassword" class="form-control">
                    <div class="invalid-feedback">Please insert your current password.</div>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col">
                    <label for="newPassword" class="col-form-label">New Password</label>
                </div>
                <div class="col">
                    <input type="password" id="newPassword" class="form-control" required>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col">
                    <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                </div>
                <div class="col">
                    <input type="password" id="confirmPassword" class="form-control" required>
                    <div class="invalid-feedback">The passwords do not match</div>

                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col">
                    <button type="button" class="btn btn-primary" id="button_profile_save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/profile.js"></script>
<script src="static/js/ext/sweetalert2-11.10.7.min.js"></script>
</body>
</html>